
$xsmall = 420px
$small = 840px
$large = 1260px
$xlarge = 1680px

$open-sans = "Open Sans", sans-serif
$rajdhani = "Rajdhani", monospace
$roboto-slab = "Roboto Slab", serif

$alabaster = #f7f7f7
$athens-grey = #fafbfc
$burnt-sienna = #ed6942
$cranberry = #d64a7f
$gallery = #eee
$loblolly = #c5cbd0
$mystic = #eaeef3
$oxford-blue = #3c4b5a
$regent-grey = #8a96a2
$shark = #282d32

$burnt-sienna-cranberry = linear-gradient(45deg, $burnt-sienna, $cranberry)